# data_recording/
# hector_gazebo/
# hector_localization/
# hector_models/
hector_quadrotor/
# optitrack_arena/
# px4_tyrion/
rotors_description/
# traj_generation/
velodyne_simulator/
# hector_moveit_actions/
voxblox/




