<?xml version="1.0"?>

<launch>
  <!-- <node name="gazebo_killer" pkg="hector_moveit_config" type="gazebo_killer.sh"/> -->
  <arg name="use_ground_truth_for_tf" default="true"/>
  <arg name="headless" default="true"/>
  <arg name="use_gui" default="true"/>
  <arg name="debug" default="false" />

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find subt_gazebo)/worlds/test_unizar.world"/>  -->
    <arg name="debug" value="false" /> 
    <arg name="paused" value="false"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="gui" value="$(arg use_gui)"/>
  </include>
                
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_ouster.launch">
    <arg name="tf_prefix" value=""/>
    <arg name="use_ground_truth_for_tf" value="$(arg use_ground_truth_for_tf)" />

  <!-- Robot spawn position:-->
      <arg name="x" value="-1"/>
      <arg name="y" value="2"/>
      <arg name="z" value="0.3"/>

  </include>


  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  	<param name="use_gui" value="true"/>
    <param name="publish_frequency" type="double" value="50.0" />
  </node>  

  <node pkg="tf" type="static_transform_publisher" name="odom_2_world" args="$0 0 0 0 0 0 odom world 100" />


  <!--include file="$(find hector_moveit_config)/launch/move_group.launch"-->
  <!-- <include file="$(find hector_moveit_config_dwa)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <param name="XMIN" type="double" value="85"/>
  <param name="XMAX" type="double" value="120"/>
  <param name="YMIN" type="double" value="-5"/>
  <param name="YMAX" type="double" value="30"/>
  <param name="ZMIN" type="double" value="-1"/>
  <param name="ZMAX" type="double" value="6"/>
  <param name="iter_update" value="100"/> 

  <param name="start_x" value="90.0"/>
  <param name="start_y" value="0.0"/>
  <param name="start_z" value="0.3"/>
  
  <param name="ALFA" type="double" value="0.5"/>
  <param name="Ky" type="double" value="0.5"/>
  <param name="Kz" type="double" value="0.5"/>
  <param name="BETA" type="double" value="0.4"/>
  <param name="GAMMA" type="double" value="0.1"/>

  -->
  
</launch>
